@model MyGymSystem.Models.Trainer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Edit</h1>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
            <form asp-action="EditTrainer" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Trainerid" />

                <div class="form-floating mb-3">
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Phonenumber" class="form-control" />
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">

                    <input asp-for="Specialization" class="form-control" />
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>


               

                <div class="form-floating mb-3">

                    <input asp-for="ImageFilet" type="file" class="form-control" />
                    <span asp-validation-for="ImageFilet" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
