


@model MyGymSystem.Models.Member

    @{
    ViewData["Title"] = "Sign Up";

    Layout = null;
    }





<form asp-action="SignUp" enctype="multipart/form-data">

    <div>
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Phonenumber"></label>
        <input asp-for="Phonenumber" class="form-control" />
        <span asp-validation-for="Phonenumber" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Dateofbirth"></label>
        <input asp-for="Dateofbirth" type="date" class="form-control" />
        <span asp-validation-for="Dateofbirth" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Fitnessgoal"></label>
        <input asp-for="Fitnessgoal" class="form-control" />
        <span asp-validation-for="Fitnessgoal" class="text-danger"></span>
    </div>

    <div>
        <label for="Username">Username</label>
        <input type="text" name="Username" class="form-control" />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="text" name="password" class="form-control" />
    </div>

    <div>
        <label asp-for="ImageFile"></label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4" value="SignUp">Sign Up</button>
    </div>

</form>


<p class="text-center mb-0">Already have an Account? <a asp-action="Login" asp-controller="Authentication">Sign In</a></p>
